<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <div th:replace="common::commonhead"></div>
</head>

<body>
    <div th:replace="common::preloder"></div>
    <div th:replace="common::humbergeroverlay"></div>
    <div th:replace="common::humbergerwrapper"></div>
    <div th:replace="common::headersection"></div>
    <div th:replace="common::herosection"></div>
<!--    <div th:replace="common::breadcrumbsection"></div>-->


    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Checkout</h4>
                <form action="/createOrders" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name</p>
                                        <input type="text" name="name" value="123">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address</p>
                                <input type="text" placeholder="Address" class="checkout__input__add" name="address" value="123">
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone</p>
                                        <input type="text" name="phone" value="123">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email</p>
                                        <input type="text" name="email" value="123">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul>
                                    <li th:each="od:${session.orders.getOrdersOrdersDetail()}">
                                        <div class="row">
                                            <div class="col-sm-7" th:text="${od.product.productName}"></div>
                                            <div class="col-sm-2"><span th:text="${od.getOrdersDetailProductNums()}"></span></div>
                                            <div class="col-sm-3"><span th:text="'$'+${od.getOrdersDetailTotalPrice()}"></span></div>
                                        </div><hr>
                                    </li>
                                </ul>
                                <div class="checkout__order__total">Total <span th:text="'$'+${session.orders.ordersSumPrice}"></span></div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


    <div th:replace="common::footersection"></div>
    <div th:replace="common::commonscript"></div>
</body>

</html>