<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <link th:replace="common::commonhead">
</head>

<body>
<div th:replace="common::preloder"></div>
<div th:replace="common::humbergeroverlay"></div>
<div th:replace="common::humbergerwrapper"></div>
<div th:replace="common::headersection"></div>
<div th:replace="common::herosection"></div>


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="shoping__cart__item">
                                <input class='checkbox' type='checkbox' name='age[]' checked='checked' value='id'>
                                <img src="/res/img/cart/cart-1.jpg" alt="">
                                <h5>Vegetable’s Package</h5>
                            </td>
                            <td class="shoping__cart__price">
                                $55.00
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <span class="dec qtybtn">-</span>
                                        <input type="text" value="1">
                                        <span class="inc qtybtn">+</span>
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                $110.00
                            </td>
                            <td class="shoping__cart__item__close">
                                <span class="icon_close"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="shoping__cart__item">
                                <input class='checkbox' type='checkbox' name='age[]' checked='checked' value='id'>
                                <img src="/res/img/cart/cart-2.jpg" alt="">
                                <h5>Fresh Garden Vegetable</h5>
                            </td>
                            <td class="shoping__cart__price">
                                $39.00
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <span class="dec qtybtn">-</span>
                                        <input type="text" value="1">
                                        <span class="inc qtybtn">+</span>
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                $39.99
                            </td>
                            <td class="shoping__cart__item__close">
                                <span class="icon_close"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="shoping__cart__item">
                                <input class='checkbox' type='checkbox' name='age[]' checked='checked' value='id'>
                                <img src="/res/img/cart/cart-3.jpg" alt="">
                                <h5>Organic Bananas</h5>
                            </td>
                            <td class="shoping__cart__price">
                                $69.00
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <span class="dec qtybtn">-</span>
                                        <input type="text" value="1">
                                        <span class="inc qtybtn">+</span>
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                $69.99
                            </td>
                            <td class="shoping__cart__item__close">
                                <span class="icon_close"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <div class="shoping__cart__btns">
                            <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>$454.98</span></li>
                        <li>Total <span>$454.98</span></li>
                    </ul>
                    <a href="/check" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->


<div th:replace="common::footersection"></div>
<div th:replace="common::commonscript"></div>
</body>

</html>