<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <link th:replace="common::commonhead">
</head>

<body>
<div th:replace="common::preloder"></div>
<div th:replace="common::humbergeroverlay"></div>
<div th:replace="common::humbergerwrapper"></div>
<div th:replace="common::headersection"></div>
<div th:replace="common::herosection"></div>


<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             th:src="'/res/img/product/'+${product.productId}+'.jpg'" alt='QQ'>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3 th:text='${product.productName}'></h3>
                    <ul>
                    </ul>
                    <div class="product__details__price" th:text="'$'+${product.productPrice}">$50.00</div>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <span class="dec qtybtn">-</span>
                                <input type="text" value="1" id="pro-qty">
                                <span class="inc qtybtn">+</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${product.productId}" id="productId"/>
                    <a href="#" class="primary-btn addToCart">ADD TO CART</a>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<div th:replace="common::footersection"></div>
<div th:replace="common::commonscript"></div>
<script>

    $(document).on("click", ".addToCart", function () {
        let productId = $("#productId").val();
        let productNums = $("#pro-qty").val();
        alert(productId);
        $.ajax({
            url: "/cart/" + productId+"/"+productNums,
            method: "post",
            dataType: "JSON",

            success: function (data) {
                $(".totalNums").html(data.totalNums);
                $(".totalPrice").html(data.totalPrice);
            }
        });
        return false;
    });
</script>
</body>

</html>