<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <link th:replace="common::commonhead">
    <style>

        .myCartImg {
            height: auto;
            height: 100px;
        }
    </style>
</head>

<body>
<div th:replace="common::preloder"></div>
<div th:replace="common::humbergeroverlay"></div>
<div th:replace="common::humbergerwrapper"></div>
<div th:replace="common::headersection"></div>
<div th:replace="common::herosection"></div>


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form action="/check" method="get">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="tt">

                            <tr th:each="cartItem:${cart}"  th:if="${cart.size()}!=0">
                                <td class="shoping__cart__item">
                                    <input class='checkbox' type='checkbox' name='product[]' checked='checked'
                                           th:value="${cartItem.product.productId}">
                                    <img class="myCartImg"
                                         th:src="'/res/img/product/'+${cartItem.product.productId}+'.jpg'" alt=""><br>
                                    <h5 th:text='${cartItem.product.productName}'></h5>
                                </td>
                                <td class="shoping__cart__price">
                                    <span>$</span><span class="cart__price"
                                                        th:text="${cartItem.product.productPrice}">55</span>
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <span class="dec qtybtn">-</span>
                                            <input type="text" th:value="${cartItem.count}" class="cart__nums">
                                            <span class="inc qtybtn">+</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    <span>$</span><span class="cart__total"
                                                        th:text="${cartItem.subTotalPrice}">110</span>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <span id="nono"><h5 th:if="${cart.size()}==0">購物車內無商品。</h5></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <div class="shoping__cart__btns">
                                <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span id="Subtotal" th:text="'$'+${totalPrice}"></span></li>
                            <li>Total <span id="total" th:text="'$'+${totalPrice}"></span></li>
                        </ul>
                        <input type="submit" id="button" class="btn primary-btn btn-lg rounded-0" value="前往結帳"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shoping Cart Section End -->


<div th:replace="common::footersection"></div>
<div th:replace="common::commonscript"></div>

<script>

    function addTotal() {
        let totals = [];
        $(".checkbox").each(function () {
            if ($(this).prop("checked")) {
                totals.push($(this).closest("tr").find(".cart__total").html());
            }
        });
        let sum = 0;
        $.each(totals,function (i,t) {
            sum += parseInt(t);
        })

        $("#Subtotal").html("$" + sum);
    }

    function addSingleTotal(t) {
        let $tr = t.closest("tr");

        let cart__price = $tr.find(".cart__price").html();
        let cart__nums = $tr.find(".cart__nums").val();
        let sum = cart__price * cart__nums;

        $tr.find(".cart__total").html(sum);
    }

    function checked(t) {
        return t.closest("tr").find(".checkbox").prop("checked");
    }

    function deleteCartItem(t) {
        return t.closest("tr").remove();
    }

    function refreshTotalNumsPrice(data) {
        if (data) {
            $(".totalNums").html(data.totalNums);
            $(".totalPrice").html(data.totalPrice);
            $("#total").html("$" + data.totalPrice);
        } else {
            $(".totalNums").html(0);
            $(".totalPrice").html(0);
            $("#total").html("$" + 0);
        }
    }


    $(document).on('change', '.cart__nums', function () {
        if ($(this).val() < 1) {
            $(this).val(1);
            alert("請輸入正確的數量");
            return false;
        }
        let t = $(this)
        let nums = t.val();
        let id = t.closest("tr").find(".checkbox").val();

        $.ajax({
            url: "/cart/" + id + "/" + nums,
            method: "put",
            dataType: "JSON",
            success: function (data) {
                refreshTotalNumsPrice(data)
                addSingleTotal(t)
                if (checked(t)) {
                    addTotal()
                }
            }
        });

    });
    $(document).on('click', '.qtybtn', function () {
        let t = $(this)
        let nums = t.siblings("input").val();
        let id = t.closest("tr").find(".checkbox").val();
        $.ajax({
            url: "/cart/" + id + "/" + nums,
            method: "put",
            dataType: "JSON",
            success: function (data) {
                refreshTotalNumsPrice(data)
                addSingleTotal(t)
                if (checked(t)) {
                    addTotal()
                }
            }
        });


    });

    $(document).on('click', '.icon_close', function () {
        let t = $(this)
        let id = t.closest("tr").find(".checkbox").val();

        $.ajax({
            url: "/cart/" + id,
            method: "delete",
            dataType: "JSON",
            success: function (data) {
                refreshTotalNumsPrice(data)

                let isChecked = checked(t);
                deleteCartItem(t);
                if ($("#tt").html() == 0) {
                    $("#nono").html("<h5>購物車內無商品。</h5>");
                }
                if (isChecked) {
                    addTotal()
                }

            }
        });


    });


    $(document).on('click', 'input:checkbox', function () {
        addTotal()
    });


    $(document).on("click", "#button", function () {
        let check = $('input:checkbox:checked').length;//判斷有多少個方框被勾選
        if (check === 0) {
            alert("您尚未勾選任何商品");
            return false;//不要提交表單
        } else {
            return true;//提交表單
        }
    });

</script>
</body>

</html>